body {
    font-family: Helvetica, Arial, sans-serif;
    color: black; font-size: 18px;
}

header, footer {
    background-color: lavenderblush;
}

.site-title {
    color: brown;
}

#my-image {
    box-shadow: 0px 0px 2px 1px;
}

.hobby-list :nth-child(odd) {
    background-color: lavenderblush;
}