.container {
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.nav-image {
    width: 125px;
    padding: 1em;
}

.main-nav {
    margin: auto;
    text-align: center;
    font-size: 1.25em;
}

.nav-bar {
    list-style-type: none;
    background-color: #222;
}

.nav-bar a {
    text-decoration: none;
    color: #c78c06;
}

.nav-bar li {
    padding: 1em;
    padding-bottom: 1em;
}

.nav-search input {
    width: 90%;
    padding: 0.5em;
    padding-right: 0;
    font-size: 1em;
}

header.masthead {
    background-color: #222;
}

/* giving p tag and home button a background colour to cancel out
the nav bar background color. */

form.nav-search {
    padding: 0;
}

/* STYLING MAGNIFYING GLASS BUTTON */

button {
    width: 45px;
    height: 45px;
    border: 1px solid #c78c06;
    margin-left: -4px;
}

.search-but {
    background-color: #222;
}

.fa-magnifying-glass {
    color: #c78c06;
    font-size: 1.5em;
}

.search-style {
    border-radius: 3px;
}

.site-h1 {
    font-size: 5em;
    line-height: 1.5;
    font-weight: 600;
    color: white;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.top-ban {
    background: url(/final-project/images/main-banner.jpg) no-repeat center;
    background-size: cover;
    margin-top: 1em;
    padding-top: 6em;
    padding-bottom: 6em;
}

.top-text {
    color: white;
    line-height: 1.5;
}

.op-header {
    background-color: #222;
    background: rgba(0, 0, 0, 0.50);
    padding-bottom: 1em;
    padding-left: 1em;
}

/* styles 'connect with us' button to fit inside header background */

.home-but a {
    text-decoration: none;
    color: #222;
    font-size: 1.5em;
    font-weight: 500;
}

.home-but {
    display: inline-block;
    background-color: #c78c06;
    padding: 2em;
    margin-top: 1em;
}

.fa-caret-right {
    padding-left: 0.25em;
    font-size: 1.50em;
}

.opening {
    background-color: #ffe6ac;
    margin: auto;
    padding: 1em;
}

.learn-img {
    display: block;
    margin: 0;
    width: 100%;
}

.about-sec {
    font-size: 2.75em;
    font-weight: 700;
    padding-top: 0.75em;
    padding-bottom: 0.5em;
}

.info-p1 {
    margin-bottom: 1em;
    line-height: 1.25em;
}

.info-p2 {
    margin-bottom: 1em;
    line-height: 1.25em;
}

.panel-sec {
    font-size: 3em;
    font-weight: 700;
    padding-top: 1em;
    padding-bottom: 0.5em;
    margin-left: .3em;
}

/* container to start flex with columns for cards and margin them off to  */

.panel-container {
    display: flex;
    flex-direction: column;
    margin: 0 1em 0 1em;
}

.card img {
    width: 100%;
}

.card-but h3 {
    font-size: 2.25em;
    font-weight: 600;
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
}

.card-but p {
    line-height: 1.25em;
    padding-left: 1em;
    padding-bottom: 1em;
}

.card {
    background-color: #ffe6ac;
    margin-bottom: 1em;
}

.butt-wrap {
    width: fit-content;
    height: fit-content;
    color: aliceblue;
    padding: 1.25em;
    font-size: 1.5em;
    margin-bottom: .75em;
    margin-left: .75em;
    background-color: #222;
}

.butt-wrap:hover {
    background-color: #c78c06;
}

/******* START SECTION FOR VISION CARD SEC *******/

.card-vis {
    background: url(/final-project/images/vision.jpg) center;
    width: 100%;
}

.card-vis h2 {
    font-weight: 600;
    font-size: 2.75em;
    color: aliceblue;
    padding-top: 1.25em;
    padding-left: .5em;
    padding-bottom: .5em;
}

.card-vis p {
    color: aliceblue;
    line-height: 1.25em;
    margin: 1em;
}

.card-vis a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.5em;
    font-weight: 500;
}

.vis-but {
    display: inline-block;
    background-color: #222;
    padding: 2em;
    margin: 1em;
    border: 1px solid #c78c06;
}

.vis-but:hover {
    background-color: #c78c06;
}

/******* END OF SECTION FOR VISION CARD SEC *******/

#members {
    margin-left: .5em;
}

.div-flex {
    display: flex;
    flex-direction: column;
    margin: 0 1em 0 1em;
}

.div-flex img {
    width: 100%;
}

.card-two,
.card-one {
    background-color: #ffe6ac;
    margin-bottom: 1em;
}

.card-two p,
.card-one p {
    padding-right: 14em;
    padding: 1em 2em 2em 1em;
    line-height: 1.25em;
}

.card-one h3,
.card-two h3 {
    font-size: 2em;
    font-weight: 600;
    margin: .75em 0 0 .35em;
}

.card-one h4,
.card-two h4 {
    font-weight: 700;
    margin: .5em .5em .5em .80em;
    border-bottom: #c78c06 solid 2.5px;
    line-height: 1.5em;
}

#communicate {
    margin: 1.25em 0 .75em 0;
    font-size: 2.75em;
    font-weight: 800;
}

.conta-container {
    margin: 0 1em 0 1em;
}

.conta-container h3 {
    font-size: 1.75em;
    font-weight: 600;
    margin-bottom: .75em;
}

.conta-form label {
    display: block;
    margin: .5em 0 .5em 0;
}

/* styling button to fit the text within and replicate to screencap */

.contact-but button {
    width: fit-content;
    height: fit-content;
    color: #c78c06;
    padding: .25em;
    font-size: 1.5em;
    margin: 1em 0 1em .10em;
    background-color: #222;
}

.conta-form input, .conta-form textarea {
    width: 100%;
}

.hour-table {
    width: 100%;
    margin-bottom: 1em;
}

.hour-table tr {
    border: #222 solid 1.5px;
}

.bord-right {
    border-right: #222 solid 1.5px;
}

/* target both th and td to add padding for table styling */

.marg-tab th, .marg-tab td {
    padding: .90em;
}

.marg-head {
    background-color: #ffe6ac;
}

.site-footer {
    color: #c78c06;
    background-color: #222;
    line-height: 2em;
    padding: 1em;
}

.site-footer a {
    color: #c78c06;
}

.marg-map {
    margin-bottom: 1em;
    margin-left: .5em;
}